@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "omyu_pretty";
}
body {
  background: rgb(185, 222, 243);
}

.memotitle {
  color: rgb(72, 122, 97);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  display: block;
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
}

textarea {
  background: rgb(238, 226, 169);
  display: block;
  width: 400px;
  height: 300px;
  margin-bottom: 10px;
}

.m-btn {
  background: rgb(238, 226, 169);
  display: block;
  width: 206px;
  height: 30px;
  border-radius: 30px 30px;
  margin: auto;
  margin-top: 50px;
}
.Todo {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
h1 {
  text-align: center;
}
.inputTxt {
  width: 395px;
  height: 30px;
  outline: 0;
  border: none;
  font-size: 1.5em;
  background: white;
  margin-right: 10px;
  padding: 5px;
}
button {
  width: 85px;
  height: 40px;
  font-size: 1.5em;
  outline: 0;
  border: none;
}
.todolist {
  background-color: white;
  margin-top: 20px;
  padding: 10px 40px 10px 0px;
}
ul {
  list-style: none;
}
li {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 1.3em;
}
a {
  float: right;
  text-align: right;
  color: red;
  font-size: 1.2em;
  cursor: pointer;
}
.delete {
  background-color: yellow;
  text-align: center;
  padding: 0px 4px 0px 4px;
  color: white;
  cursor: pointer;
}

.wrapper {
  margin-top: -500px;
  margin-left: 300px;
}

.inputTxt2 {
  outline: 0px;
  color: rgb(107, 107, 107);
  width: 220px;
  height: 30px;
  padding: 5px;
}

.add {
  width: 40px;
  height: 30px;
  margin-left: 193px;
}
.List {
}
